<!DOCTYPE html>
<html ng-app="shiftApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="libs/normalize-css/normalize.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/workbench.css">
    <link rel="stylesheet" href="libs/bootstrap-treeview/dist/bootstrap-treeview.min.css">
</head>

<body class="workbench">
    <div class="flow-fluid">
        <div class="row">
            <div class="col-md-2 leftPanel">
                <div class="panel panel-default" style="margin:2px;height:400px">
                    <div class="panel-body">
                        <div id="control-panel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="height:400px">
                <div class="panel panel-default" style="margin:2px;height:400px">
                    <div class="panel-body">
                        <div id="flow-panel" class='col-md-12' style="position:absolute;height:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" style="margin:2px;height:400px">
                    <div class="panel-body">
                        <button id="btnExport">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer">
        <div class="container">
            <p>Make Data Collecting Interesting :)</p>
        </div>
    </div>
    <!-- librarys -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/jsPlumb/dist/js/jsPlumb-2.0.7-min.js"></script>
    <script src="libs/d3/d3.min.js"></script>
    <script src="libs/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

    <script src="scripts/components/shift.js"></script>
    <script src="scripts/components/node.js"></script>

    <script src="scripts/controllers/workbench.js"></script>
</body>

</html>
