.WorkBench {
    color: #ffffff;
    height: 100%;
    background: #263238;
    overflow: auto;

    $left_width: 200px;
    $right_width: 350px;

    .Showcase {
        float: left;
        width: $left_width;
        height: 100%;
        background: #333B3F;
        overflow: auto;
        .firstType {
            margin: 10px;
            background: rgb(72, 83, 88);
            >.label {
                font-size: 14px;
                padding: 5px 10px;
                box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
            }
        }
        .secondType {
            margin: 0 5px;
            >.label {
                padding: 5px;
            }
        }
        .thirdType {
            border: 1px solid gray;
            margin: 5px;
            height: 40px;
            >.label {
                padding: 5px;
                color: grey;
            }
        }
    }

    .Sketchpad {
        float: left;
        width: calc(100% - #{$left_width} - #{$right_width} - 2px);
        height: 100%;
        background: #263238;
    }

    .CodeBox {
        float: left;
        width: $right_width;
        height: 100%;
        font-size: 10px;
        >.codeArea {
            margin: 25px 20px;
            height: calc(100% - 50px);
            background: #333B3F;
            border-radius: 5px;
            >pre {
                margin: 0;
                overflow: auto;
            }
            .hljs {
                margin: 10px;
                background: none;
                font-family: Menlo, Consolas, Mono;
            }
        }
    }
}
